body {
  font-family: sans-serif;
  background: #3494e6;
  height: 100vh;
  margin: 0;
}

.container {
  height: 100%;
  display: grid;
  grid-template-columns: 600px;
  grid-template-rows: auto;
  justify-content: center;
  align-content: center;
}

.menu {
  background: rgba(255, 255, 255, 0.6);
  border-radius: 5px;
  display: grid;
  grid-template-columns: auto 1fr;
  padding: 0.5rem 1rem;
  align-items: center;
}

.logo {
  font-weight: bold;
  text-transform: uppercase;
}

.navegation {
  list-style: none;
  display: grid;
  grid-auto-flow: column;
  justify-content: end;
  grid-gap: 1.5rem;
}