body {
  font-family: sans-serif;
  background: #3494e6;
  height: 100vh;
  margin: 0;
}

.container {
  height: 100%;
  display: grid;
  grid-template-columns: 200px 1fr;
  grid-template-rows: 75px 1fr 75px;
  grid-gap: 1rem;
  grid-template-areas:
  'header header'
  'aside main'
  'footer footer'
}

header, aside, main, footer {
  background: rgba(255, 255, 255, 0.5);
  display: grid;
  justify-content: center;
  align-content: center;
}

header {
  grid-area: header;
}

aside {
  grid-area: aside;
}

main {
  justify-content: stretch;
  align-content: stretch;
  grid-area: main;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  grid-auto-rows: 150px;
  grid-gap: 1rem;
  padding: 1rem;
}

footer {
  grid-area: footer;
}

.blog-item {
  background: #ec6ead;
}

@media (max-width: 650px) {
  aside {
    display: none
  }
  .container {
    grid-template-columns: 1fr;
    grid-template-rows: 75px 1fr 75px;
    grid-gap: 1rem;
    grid-template-areas:
    'header'
    'main'
    'footer'
  }
}